@model HomeDecoration.Models.DTO.Customer

<!DOCTYPE html>
<html>
<head>
    <title>Print Customers</title>
</head>
<body>
    <h1>Customers Details</h1>
    <p>Customer ID: @Model.Id</p>
    <p>Name: @Model.Name</p>
    <p>Address: @Model.Address</p>
    <p>Created At: @Model.CreatedAt</p>
        <script>
            window.print();
            window.close();

        </script>
</body>
</html>